body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
h1 {
	text-align: center;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: black;
}
li {
	display: inline-block;
	width: 100px;
	height: 40px;
	background-color: #333;
	line-height: 40px;
	border-right: 1px solid #ccc;
}
li.first {
	border-left: 1px solid #ccc;
}
nav a {
	text-decoration: none;
	color: white;
	display: block;
}
nav li:hover, .active {
	background-color: #399;
}